@charset "utf-8";
/* Download : http://www.codefans.net *?
/* Reset css*/
body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53}
body{_overflow:auto;_height:100%;margin:0 auto;}
html{_overflow:hidden}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol,li,dl,dt,dd{list-style:none}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img{width: 100%;}
button,input,select,textarea{font:12px/1.5 tahoma,arial,sans-serif; vertical-align:middle;cursor:pointer}
table{border-collapse:collapse;border-spacing:0}
.clear{display:block;float:none;clear:both;overflow:hidden;visibility:hidden;width:0;height:0;background:none;border:0;font-size:0}
.vote_describe span {white-space: pre-wrap;}

/*a*/
a{width: 100%; text-decoration:none; color:#555; display: block; -webkit-tap-highlight-color:transparent;}
a:hover{ color:#ff6600;}

/*title*/
h1 { font-size:50px;}
h2 { font-size:40px;}
h3 { font-size:30px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:9px;}

.rmpl_download{width: 100%; height: 2.435rem;}
.rmpl_download>a{width: 100%;}
.rmpl_download_img{width: 1.1rem; height: 1.1rem; background-image: url(/static/images/m/logo.png); background-size: 100% 100%; margin: 0.65rem 0 0 0.665rem;}
.rmpl_download_tit{line-height: 1.05rem; margin: 0.7rem 0 0 0.4rem; }
.rmpl_download_tit span{font-size: 0.7rem; color: #38B999; }
.rmpl_download_pic{width: 0.835rem; height: 0.785rem; background-image: url(/static/images/m/Bitmap.png); background-size: 100% 100%; margin: 0.735rem 0.765rem 0 0;}

.recommend_jt { width: 2.5rem; height: 1.2rem; background-color: #57D1B3; border-radius: 0.065rem;font-size: 0.6rem; color: #fff; line-height: 1.2rem; text-align: center; margin: 1.265rem 0.5rem 0 0;}

nowrap {white-space: nowrap; overflow:hidden;}
